@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.masthead {
  overflow: hidden;

  background-color: #ccc;
}

.content {
  line-height: 1.5rem;
}
.mars {
  display: block;
  margin: 0;

  text-align: center;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  padding: .5em;

  text-decoration: none;
  color: #0074D9;
}
.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #0074D9;

  color: #fff;
}

.biline {
  margin: 0;
  text-align: center;

  background-color: #efefef;
}

.planet {
  margin: 0;
}

.moons {
  margin: 0;
  text-align: center;

  background-color: #e1e1e1;
}

.exploration {
  margin: 0;
  text-align: center;

  background-color: #e1e1e1;
}

.name {
  margin: 0;
}

.photos {
  margin: 0;
}
.footer {
  background-color: #ccc;

  margin: 0;
}
.info {
  background-color: #e1e1e1;
}

.details {
  background-color: #efefef;
}

@media only screen and (min-width: 20em) {
  
  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }
}

@media only screen and (min-width: 40em) {

  .mars{
    float: left;
  }

 .nav {
    float: left;
  }
}
