@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html{
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {
  
  html {
    font-size: 120%;
  }

}

@media only screen and (min-width:120em) {
  
  html {
    font-size: 130%;
  }

 }
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:link,
a:active{
  /* It is okay to get ride of the focus rectangle for mouse users BUT NEVER REMOVE IT FOR KEYBOARD USERS*/
  outline: none;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a{
  position: absolute;
  top: -3em;
  padding: 0.5em 0.75em;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: none;
}

.skip-links a:focus{
  top:0;
}

img {
  display: block;
  width: 100%;
}

.masthead {
  overflow: hidden;

  background-color: #ccc;
}

.content {
  line-height: 1.5rem;
}
.mars {
  display: block;
  margin: 0;

  text-align: center;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  padding: .5em;

  text-decoration: none;
  color: #0074D9;
}
.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #0074D9;

  color: #fff;
}

.bottom-nav {
  padding: 0;
}

.bottom-nav li {
  display: block;
}

.bottom-nav a,
.bottom-nav a:link,
.bottom-nav a:visited {
  display: block;
  padding: .5em;

  text-decoration: none;
  color: #0074D9;
}
.bottom-nav a:hover,
.bottom-nav a:focus,
.bottom-nav a:active {
  background-color: #0074D9;

  color: #fff;
}

.biline {
  margin: 0;
  text-align: center;

  background-color: #efefef;
}

.planet {
  margin: 0;
}

.moons {
  margin: 0;
  text-align: center;

  background-color: #e1e1e1;
}

.exploration {
  margin: 0;
  text-align: center;

  background-color: #e1e1e1;
}

.name {
  margin: 0;
}

.photos {
  margin: 0;
}
.footer {
  background-color: #ccc;

  margin: 0;
}
.info {
  background-color: #e1e1e1;
}

.details {
  background-color: #efefef;
}

.discovery {
  background-color: #efefef;
}

.hidden {
  display: none;
}

.form-background {
  background-color: #efefef;
}

.join {
  text-align: center;
}

.join-info {
  text-align: center;
}

.level {
  font-style: italic;
}

form {
  max-width: 35em;
  margin: 0 auto;
}

label {
  display: block;
}

input+label {
  display: inline-block;
}

fieldset {
  border: none;
  padding: 0;
}

button {
  font-size: 1em;
  cursor: pointer;
}

.button {
  text-align: center;
}

.enter-info {
  width: 100%;
}

.explaination {
  width: 100%;
  height: 15em;
}

@media only screen and (min-width: 20em) {
  
  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  .copywright {
    text-align: center;
  }

  .bottom-nav {
    text-align: center;
  }

  .bottom-nav li {
    display: inline-block;
  }

  .hidden {
    display: inline-block;
  }
}


@media only screen and (min-width: 40em) {

  .mars{
    float: left;
  }

 .nav {
    float: left;
  }

  .copywright {
    text-align: left;
  }

  .bottom-nav {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .data dt {
    float: left;
    clear: left;
    width: 40%;
  }

  .moons-large {
    padding-left: 1.5rem;
  }

}
